[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "quest"]
	path = quest
	url = https://github.com/cran/quest
[submodule "str2str"]
	path = str2str
	url = https://github.com/cran/str2str
